[Desktop Entry]
Version=1.0
Type=Application
Name=Gamepad
Comment=Gamepad Tester
KeywordKeywords=gamepad;joystick;game;
Exec=gamepad
Icon=gamepad
Terminal=false
Categories=Game;Utility;
StartupNotify=true